In [31]:
import pandas as pd
import numpy as np

In [47]:
with open ("../data/shakespeare.txt", "r") as f:
    text = f.read()

In [54]:
import re
text = re.sub(r'\d+', '', text)
pattern = r'\n\s+[A-Za-z]+\.'
lines = re.split(pattern, text)
lines = [line.strip() for line in lines]
lines = [re.sub(r'\s+', ' ', line) for line in lines]
lines = [line for line in lines if len(line) > 10]

In [68]:
sequence_ids = np.concatenate([(np.ones(len(line))*i).astype(int) for i, line in enumerate(lines)])
item_positions = np.concatenate([np.arange(len(line)) for line in lines])
characters = np.concatenate([np.array(list(line)) for line in lines])

In [64]:
len(sequence_ids)

4554922

In [63]:
len(characters)

4554922

In [23]:
data = pd.DataFrame({"sequenceId": np.ones(len(text)).astype(int), "itemPosition": np.arange(len(text)), "character": list(text)})

In [24]:
data.head(10)

   sequenceId  itemPosition character
0           1             0         F
1           1             1         r
2           1             2         o
3           1             3         m
4           1             4
5           1             5         f
6           1             6         a
7           1             7         i
8           1             8         r
9           1             9         e

In [26]:
data.to_csv("../data/shakespeare.csv", index=None)

In [27]:
data.head(int(data.shape[0]/100)).to_csv("../data/shakespeare-small.csv", index=None)

In [30]:
data.head(int(data.shape[0]/10)).to_csv("../data/shakespeare-medium.csv", index=None)

In [28]:
data.shape

(4927065, 3)

In [29]:
data.shape[0]/100

49270.65